---
import type { UxuiPainPromiseSection } from '../../core/interfaces/landing-page.interface';
import { insertBreakAfter } from '../../core/utils/insert-break';
import OutlineContainer from '../molecules/OutlineContainer.astro';

interface Props {
    data?: UxuiPainPromiseSection;
}

const { data } = Astro.props;
---

<OutlineContainer extraClass="my-24 mx-4 md:mx-0">
    <div class="grid md:grid-cols-2 grid-cols-1 py-12 px-8">
        <div class="flex flex-col gap-8">
            <p class="font-inter font-extralight">{data?.secondaryTitle}</p>
            <h3>{data?.title}</h3>
        </div>
        {
            data?.description && (
                <p
                    set:html={insertBreakAfter(
                        data?.description,
                        'optional.',
                        'pt-4'
                    )}
                    class="z-20 lg:text-8xl md:text-6xl text-4xl font-inter font-light"
                />
            )
        }
    </div>
</OutlineContainer>
