---
import type { UxuiPainPromiseSection } from '../../core/interfaces/landing-page.interface';

interface Props {
    data?: UxuiPainPromiseSection;
}

const { data } = Astro.props;
---

<h1>Pain & Promise</h1>