---
import type { UxuiPainPromiseSection } from '../../core/interfaces/landing-page.interface';
import OutlineContainer from '../molecules/OutlineContainer.astro';

interface Props {
    data?: UxuiPainPromiseSection;
}

const { data } = Astro.props;
---

<OutlineContainer extraClass="my-20">
    <div class="grid grid-cols-2">
        <div class="flex flex-col">
            <p>{data?.secondaryTitle}</p>
            <h3>{data?.title}</h3>
        </div>
        <p>{data?.description}</p>
    </div>
</OutlineContainer>