---
import type { UxuiServicesSection } from '../../core/interfaces/landing-page.interface';
import { sanityImageUrl } from '../../core/utils/sanity-image';
import OutlineContainer from '../molecules/OutlineContainer.astro';

interface Props {
    data?: UxuiServicesSection;
}

const { data } = Astro.props;

if (!data) return;
---

<section class="md:mx-0 mx-4">
    <p class="md:pt-16 pt-0 font-inter font-extralight">{data.secondaryTitle}</p>
    <h3 class="md:pt-12 pt-8 md:pb-8 pb-2 text-[32px]">{data.title}</h3>

    <div class="grid md:grid-cols-3 gap-10 py-8">
        {
            data.cards.map((c) => (
                <OutlineContainer extraClass="md:px-12! px-8! pt-10! md:pb-32! pb-28! font-inter">
                    <img
                        src={sanityImageUrl(c.icon.asset._ref, 200, 200)}
                        alt=""
                        class="object-cover w-24 pb-2"
                    />
                    <h4 class="font-light pt-8">{c.title}</h4>
                    <p class="font-inter font-extralight">{c.description}</p>
                </OutlineContainer>
            ))
        }
    </div>
</section>
