---
import type { UxuiWhySection } from '../../core/interfaces/landing-page.interface';
import OutlineContainer from '../molecules/OutlineContainer.astro';

interface Props {
    data?: UxuiWhySection;
}

const { data } = Astro.props;
if (!data) return;
---

<OutlineContainer extraClass="mt-28 md:mx-0 mx-4">
    <div class="grid md:grid-cols-2 grid-cols-1 items-center gap-24">
        <div class="flex-flex-col gap-8">
            <p class="font-extralight font-inter mb-8">{data.secondaryTitle}</p>
            <h3>{data.title}</h3>
        </div>
        <div class="flex flex-col gap-12 py-8">
            {
                data.details.map(d => (
                    <p class="border-b border-b-black/20 pb-2 font-inter font-light">{d}</p>
                ))
            }
        </div>
    </div>
</OutlineContainer>
